@import '../../styles/variables';

.AgentLook {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-decoration: underline;
  transition: all 350ms ease-in-out;
  &:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    color: $color-tertiary-light;
  }
}