@import '../../styles/variables';

.AgentLook {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    color: $color-tertiary-light;
  }
}