@import "../../styles/variables";

.ReportTable {
  width: 100%;
  table-layout: fixed;
}

.ReportTableHeaderRow {
  border-bottom: 1px solid $color-grey-dark-3;
  border-top: 1px solid $color-grey-dark-3;
}

.ReportTableHeaderCell {
  padding: 1.2rem 1.6rem;
  text-align: left;
  border-right: 1px solid $color-grey-dark-3;
  &:first-of-type {
    border-left: 1px solid $color-grey-dark-3;
  }
}