@import './mixins';
@import './variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5% / default-fz = 16px

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25% / default-fz = 14.4px
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50% / default-fz = 12.8px
  }

  @include respond(big-desktop) {
    // width > 1800?
    font-size: 75%; //1rem = 12, 12/16 / default-fz = 19.2px
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.25;
  color: black;
}

a {
  display: inline-block;
  color: $color-black;
  text-decoration: underline;
  transition: all 350ms ease-in-out;
  &:hover {
    transform: translate(1px, 1px);
    color: $color-tertiary-light;
  }
}
